
html {
    font-size: 0.6rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section {
    padding: 0rem 0 6rem;
}

.contact-information {
    list-style-type: disc;
    line-height: 1.2rem;
    margin: 0;
}

.left-col {
    text-align: right
}

.company {
    font-style: italic;
}

.present {
    background-color: #5cb85c;
    color: white;
    /* top | right | bottom | left */
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    font-style: none;
}

.intro {
    list-style-type: lower-greek;
}

.lambdadev-summary {
    list-style-type: disc;
}
